form-ctr{
    width: 50%;
    outline: none;
    padding: 5px;
    border-radius:3px;
    border: 1px solid gray; 
}
.form-gr{
    margin: 10px 0px;
    font-weight: bold;
    font-variant: small-caps;
}
legend{
}
.form-ctr:focus{
    background-color: orangered;
    box-shadow: 0 0 3px red;
    border: 1px solid orangered;
}
button{
    outline:none;
    border:none;
    border-radius:20px;
    font-weight:bold;
    background-color:orangered;
    color:white;
    box-shadow:inset 0 0 20px orange;
    padding: 8px 30px; 
}
button:hover{
    color:blue;
    box-shadow:inset 0 0 20px orangered;
}
button:disabled{
    color:darkgray;
    box-shadow:inset 0 0 20px gray;
}
form {
    width: 25%;
    margin: 0 auto;
    box-shadow: 0 0 5px orangered;
    padding:10px;
}
body{
		background-image:url('images/BGMT.jpg');
	}